<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー情報編集 | ブクエモ！</title>
</head>
<body>
    <div>
        <a href="{{ url_for('show_edit_user_image', user_id=current_user_id)}}">
            <button type="submit">
                <img src="data:image/png;base64, {{ user_image }}" width="150px" height="150px">
            </button>
        </a>
    </div>
    <div>
        <form action="{{ url_for('update_user_profile', user_id=current_user_id) }}" method="POST" enctype="multipart/form-data">
            <div>
                <span>現在のuser_name: </span>
                <input type="text" name="user_name" value="{{ user_name }}">
            </div>
            <div>
                <span>現在の自己紹介文</span>
                <textarea name="self_introduction">{{ self_introduction }}</textarea>
            </div>
            <input type="submit" onclick="submit();" value="送信する">
        </form>
        
    </div>
</body>
</html>