<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/destyle.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>アカウント作成 | ブクエモ！</title>
</head>
<body>
    <div class="fixed" style="z-index: -1;">
        <img class="w-full" src="../static/img/login_background.png">
    </div>
    <div class="flex items-center justify-center h-screen">
        <div class="flex items-center justify-center rounded-md h-96 w-72 bg-yellow-200">
            <div class="my-auto mx-1/5">
                <div class="mb-7 text-center">
                    <h1 class="text-4xl font-bold">ブクエモ！</h1>
                    <p class="text-base">心揺さぶる文章がここにある</p>
                </div>
                <form action="signup-confirm" method="POST" enctype="multipart/form-data">
                    <div class="flex items-center justify-center">
                        <div class="w-4/5">
                            <input class="bg-white rounded-md h-7 mb-1.5 pl-2.5 w-full" autocapitalize="none" autocomplete="on" autocorrect="off" spellcheck="false" type="text" name="user_id" placeholder="user id" dir="auto">
                            <input class="bg-white rounded-md h-7 mb-1.5 pl-2.5 w-full" autocapitalize="none" autocomplete="on" autocorrect="off" spellcheck="false" type="password" name="password" placeholder="パスワード" dir="auto">
                            <input class="bg-white rounded-md h-7 mb-1.5 pl-2.5 w-full" autocapitalize="none" autocomplete="on" autocorrect="off" spellcheck="false" type="text" name="email_address" placeholder="メールアドレス" dir="auto">
                            <input class="bg-white rounded-md h-7 mb-1.5 pl-2.5 w-full" autocapitalize="none" autocomplete="on" autocorrect="off" spellcheck="false" type="text" name="user_name" placeholder="ニックネーム" dir="auto">
                        </div>
                    </div>
                    <div class="flex items-center justify-center mt-1.5">
                        <div class="rounded-md bg-yellow-600 h-7 w-4/5 hover:bg-yellow-500">
                            <button class="text-center h-7 w-full" type="submit">アカウントを作成する</button>
                        </div>
                    </div>
                </form>
                <div class="text-center mt-1.5">
                    <a class="hover:text-gray-400 text-xs" href="signin">ログインする</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>