<div class="flex">
    <!--{% include 'left-column.html' %}-->
    <div class="w-6/12">
        <div class="mx-auto my-0 w-10/12">
            <div class="w-full">
                <div class="flex mt-1.5">
                    <div>
                        <!--Todo: 直下画像src変更する。画像保存先を決定していないので、保存先を決定出来次第変更する-->
                        <img class="h-28 w-28" src="data:image/png;base64, {{ user_image }}">
                    </div>
                    <div class="ml-1.5 w-96 break-all">
                        <div class="text-right">
                            <!--{% if is_current_user_equal_profile_user == True %}-->
                            <!--Todo: 表示しているプロフィールがオーナーかどうかの判定をつける-->
                            <%= link_to 'プロフィールを編集する', edit_user_url %>
                            <!--{% endif %}-->
                        </div>
                        <div>
                            <span class="text-3xl font-bold">
                                <%= @user.name %>
                            </span>
                        </div>
                        <div>
                            <span>
                                @<%= @user.id %>
                            </span>
                        </div>
                        <div class="flex w-96 break-all">
                            <span>
                                <%= @user.self_introduction %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!--
            Todo: 以下passageのモデルを作れたらerb形式に置き換える
            {% for passage_data, passage_like_sum in ziped_passages_and_like_sum_data_list %}
            <div class="bg-blue-100 rounded-lg mt-2.5 mb-2.5">
                <div class="m-auto py-4">
                    <div class="break-all ml-auto mr-auto w-96">
                        <p>{{ passage_data.Passages.passage_content }}</p>
                    </div>
                </div>
                <div class="break-all m-auto w-96">
                    <span><i class="fas fa-book-open mr-1.5"></i>{{ passage_data.Passages.book_title }}</span>
                </div>
                <div class="flex m-auto w-96">
                    <span class="border-b border-black w-96 my-1.5"></span>
                </div>
                <div class="flex m-auto pb-1.5 w-96 break-all">
                    <div class="w-5/12">
                        <a class="hover:text-gray-50"
                            href="/user/{{ passage_data.Passages.user_id }}">{{ user.user_name }}</a>
                    </div>
                    <div class="flex w-3/12">
                        <form action="/passage/{{ passage_data.Passages.passage_id }}/push-like" method="POST">
                            <button type="submit"><i class="far fa-heart mr-1.5"></i></button>
                        </form>
                        <a class="hover:text-gray-50"
                            href="/post/{{ passage_data.PostIDs.post_id }}/likes">{{ passage_like_sum }}</a>
                    </div>
                    <div class="w-2/12">
                        <a class="hover:text-gray-50" href="/comment/{{ passage_data.PostIDs.post_id }}">コメント</a>
                    </div>
                    <div class="text-right w-2/12">
                        {% if is_current_user_equal_profile_user == True %}
                        <form action="/passage/{{ passage_data.Passages.passage_id }}/delete" method="POST">
                            <button type="submit"><i class="fas fa-trash"></i></button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            -->
        </div>
    </div>
</div>