<div class="w-3/12 ml-5rem my-2.5">
  <div class="m-auto mt-2.5 w-11/12">
    <%= link_to 'ホーム', root_url, class: "hover:text-gray-400" %>
  </div>
  <div class="m-auto mt-2.5 w-11/12">
    <!--Todo: user_pathに渡すidを入れる。current_userを定義出来たら-->
    <%= link_to 'プロフィール', user_path(current_user.id), class: "hover:text-gray-400" %>
  </div>
  <div class="m-auto mt-2.5 w-11/12">
    <%= link_to 'ログアウト', logout_path, class: "hover:text-gray-400" %>
  </div>
</div>