<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー画面</title>
</head>
<body>
    <div>
        <form action="show_upload_user_image" method="POST" enctype="multipart/form-data">
            <button type="submit"><img src="data:image/png;base64, {{ user_image }}" width="150px" height="150px"></button>  <!-- 変更する必要がある。一時的に幅高さ写真指定している。-->
        </form>
    </div>
    <div>
        <form action="{{ url_for('update_user_profile', profile_user_id=user_id) }}" method="POST" enctype="multipart/form-data">
            <div>
                <span>現在のuser_name: </span>
                <input type="text" name="user_name" value="{{ user_name }}">
            </div>
            <div>
                <span>現在の自己紹介文</span>
                <textarea name="self_introduction">{{ self_introduction }}</textarea>
            </div>
            <input type="submit" value="送信する">
        </form>
        
    </div>
</body>
</html>