<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>index page</p>
    </div>
    <div>
        <form action="/post_article" method="POST">
            <input type="text" name="post-article"/>
            <input type="submit" value="投稿する"/>
        </form>
    </div>
    <div>
        {% for data in some_data %}
            <p>{{ data.post_content }}</p>
        {% endfor %}
    </div>
</body>
</html>