<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>投稿ページ</p>
        <a href="/user/{{ current_user_id }}">プロフィール</a>
    </div>
    <div>
        <form action="/post-article" method="POST">
            <span>本文</span>
            <input type="text" name="post-article"/>
            <span>本のタイトル</span>
            <input type="text" name="book-title">
            <input type="submit" value="投稿する"/>
        </form>
    </div>
    <div>
        {% for data in some_data %}
            <div style="margin-bottom: 5px;background-color:cornsilk">
                <div>
                    <p>time_stamp: {{ data.created_at }}</p>
                    <p>投稿内容: {{ data.post_content }}</p>
                    <span>user name: {{ data.user_name }}</span><br>
                    <span>user id: {{ data.user_id }}</span>
                    <span>book title: {{ data.book_title }}</span>
                    <span>いいね数: {{ data.good_sum }}</span>
                </div>
                <a href="/reply/{{ data.id }}">リプライ</a>
                <a href="/user/{{ data.user_id }}">このユーザーのプロフィールを見る</a>
                <form action="/passage/{{ data.id }}/push-like" method="POST">
                    <button type="submit">いいね</button>
                </form>
                <a href="/passage/{{ data.id }}/likes">いいねした人のidをみる</a>
                {% if data.user_id == current_user_id %}
                    <form action="/passage/{{ data.id }}/delete" method="POST">
                        <button type="submit">削除する</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>