<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログアウト確認</title>
</head>
<body>
    <div>
        <h1>ログアウトしますか？</h1>
        <form action="logout_yes" method="POST" enctype="multipart/form-data">
            <button type="submit">はい</button>
        </form>
        <form action="logout_no" method="POST" enctype="multipart/form-data">
            <button type="submit">いいえ</button>
        </form>
    </div>

</body>
</html>