<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>リプライページ</title>
</head>
<body>
    <div>
        <div style="margin-bottom: 5px;background-color:cornsilk">
            <div>
                <p>投稿内容: {{ article_data.reply_content }}</p>
                <span>user name: {{ article_data.reply_user_name }}</span><br>
                <span>user id: {{ article_data.reply_user_id }}</span>
                <span>いいね数: {{ article_data.good_sum }}</span>
            </div>
        </div>
        <div>
            <div>
                <form action="/submit-reply-to-reply" method="POST">
                    <input type="hidden" name="article_id" value="{{ article_data.id }}">
                    <input type="text" name="reply_content" placeholder="コメント">
                    <button type="submit">送信する</button>
                </form>
            </div>
            {% for reply_data in some_reply_data %}
                <div style="margin-bottom: 5px;background-color:rgb(133, 255, 214)">
                    <div>
                        <span>user name: {{ reply_data.reply_user_name }}</span><br>
                        <span>user id: {{ reply_data.reply_user_id }}</span>
                        <span>content: {{ reply_data.reply_content }}</span>
                        <span>article_id: {{ reply_data.article_id }}</span>
                        <!--<span>いいね数: {{ reply_data.good_button_sum }}</span>-->
                    </div>
                    <form action="/reply-to-reply/{{ reply_data.id }}" method="POST">
                        <input type="hidden" name="article_id" value="{{ reply_data.id }}">
                        <button type="submit">リプをみる</button>
                    </form>
                    <form action="/user/{{ reply_data.reply_user_id }}" method="POST">  <!--ユーザーの写真や名前を押したらsubmitする仕様にしたい-->
                        <input type="hidden" name="user_id" value="{{ reply_data.reply_user_id }}">
                        <button type="submit">このユーザーのプロフィールを見る</button>
                    </form>
                    <form action="/push_good_button_reply" method="POST">
                        <input type="hidden" name="id" value="{{ reply_data.id }}"> <!--valueを直す必要があるかもしれない-->
                        <input type="hidden" name="article_id" value="{{ article_data.id }}">
                        <button type="submit">いいね</button>
                    </form>
                    <form action="/show_user_push_good_reply" method="POST">
                        <input type="hidden" name="id" value="{{ reply_data.id }}"> <!--valueを直す必要があるかもしれない-->
                        <button type="submit">いいねした人のidをみる</button>
                    </form>
                    {% if reply_data.reply_user_id == current_user_id %}
                        <form action="/delete_article_from_user_profile_reply" method="POST">
                            <input type="hidden" name="id" value="{{ reply_data.id }}"> <!--valueを直す必要があるかもしれない-->
                            <input type="hidden" name="article_id" value="{{ article_data.id }}">
                            <button type="submit">削除する</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>