<div class="d-b post-wrapper m-r-5per m-t-10 m-b-10 w-20per">
    <form action="/post-article" method="POST" class="w-100per">
        <div class="m-a  w-90per">
            <textarea type="text" placeholder="感動した文章" name="post-article" class="post-input h-100 m-t-10 p-b-5 p-l-5 p-t-5 w-b-b-a w-100per"></textarea>
            <input type="text" placeholder="本のタイトル" name="book-title" class="post-input m-t-10 p-b-5 p-l-5 p-t-5 w-100per">
            <input type="submit" value="投稿する" class="m-t-10">
        </div>
    </form>
</div>