<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
</head>
<body>
    <div>
        <h1>
            <span>心揺さぶる文章がここにある</span>
        </h1>
        <div>
            <form action="signin-confirm" method="POST" enctype="multipart/form-data">
                <input autocapitalize="none" autocomplete="on" autocorrect="off" spellcheck="false" type="text" name="user_id" placeholder="user_id" dir="auto">
                <input autocapitalize="none" autocomplete="on" autocorrect="off" spellcheck="false" type="password" name="password" placeholder="パスワード" dir="auto">
                <button type="submit">ログイン</button>
                <div>
                    <a href="signup">アカウントを作成する</a>
                    <span>|</span>
                    <a href="#">パスワードを忘れた</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<!--ここの背景にみんなの投稿を並べて配置したらオシャンっぽい-->