<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/destyle.css">
    <link rel="stylesheet" href="/static/css/signin-and-signup.css">
    <title>ブクエモ！</title>
</head>
<body>
    <div class="position-f z-i--1">
        <img class="w-100per" src="../static/img/login_background.png">
    </div>
    <div class="d-f d-f-center h-100v z-i-100">
        <div class="b-r-10 bg-c-white-0_9 h-400 w-300">
            <div class="m-20per-a">
                <div class="m-b-30 t-a-c">
                    <h1 class="f-size-36 f-w-700">ブクエモ！</h1>
                    <p class="f-size-16">心揺さぶる文章がここにある</p>
                </div>
                <form action="signin-confirm" method="POST" enctype="multipart/form-data">
                    <div class="d-f d-f-center">
                        <div class="w-80per">
                            <input class="b-r-5 h-30 m-b-5 p-l-10 w-100per" style="background-color:rgb(235, 235, 235);" autocapitalize="none" autocomplete="on" autocorrect="off" spellcheck="false" type="text" name="user_id" placeholder="user_id" dir="auto">
                            <input class="b-r-5 h-30 m-b-5 p-l-10 w-100per" style="background-color:rgb(235, 235, 235);" autocapitalize="none" autocomplete="on" autocorrect="off" spellcheck="false" type="password" name="password" placeholder="パスワード" dir="auto">
                        </div>
                    </div>
                    <div class="d-f d-f-center m-t-10">
                        <div class="b-r-5 bg-c-184-134-11 h-30 w-80per">
                            <button class="border-box t-a-c h-30 w-100per" type="submit">ログイン</button>
                        </div>
                    </div>
                </form>
                <div class="t-a-c m-t-10">
                    <a class="f-size-12" href="signup">アカウントを作成する</a>
                    <span>|</span>
                    <a class="f-size-12" href="#">パスワードを忘れた</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>