<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
</head>
<body>
    <div>
        <h1>
            <span>ここにはみんなの感動した文章が集まっている</span>
        </h1>
        <div>
            <form action="signup_confirm" method="POST" enctype="multipart/form-data">
                <input autocapitalize="none" autocomplete="on" autocorrect="off" spellcheck="false" type="text" name="user_id" placeholder="user id" dir="auto">
                <input autocapitalize="none" autocomplete="on" autocorrect="off" spellcheck="false" type="password" name="password" placeholder="パスワード" dir="auto">
                <input autocapitalize="none" autocomplete="on" autocorrect="off" spellcheck="false" type="text" name="email_address" placeholder="メールアドレス" dir="auto">
                <input autocapitalize="none" autocomplete="on" autocorrect="off" spellcheck="false" type="text" name="user_name" placeholder="ニックネーム" dir="auto">
                <button type="submit">アカウントを作成する</button>
                <div>
                    <a href="#">ログインする</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<!--ここの背景にみんなの投稿を並べて配置したらオシャンっぽい-->