<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー画面</title>
</head>
<body>
    <div>
        <img src="../img/sample_image.jpg" width="150px" height="150px">  <!-- 変更する必要がある。一時的に幅高さ写真指定している。-->
    </div>
    <div>
        <div>
            <span>user_name: {{ user_name }}</span>
        </div>
        <div>
            <span>user_id: {{ user_id }}</span>
        </div>
    </div>
    <div>
        <a href="#">プロフィールを編集する</a>
    </div>
    <form action="logout_confirm" method="POST" enctype="multipart/form-data">
        <button type="submit">ログアウトする</button>
    </form>
    <div>
        {% for data in some_article_data %}
            <div style="margin-bottom: 5px;background-color:cornsilk">
                <p>投稿内容: {{ data.post_content }}</p>
                <span>user name: {{ data.user_name }}</span><br>
                <span>book title: {{ data.book_title }}</span>
            </div>
        {% endfor %}
    </div>
</body>
</html>