<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー画面</title>
</head>
<body>
    <div>
        <div>
            <img src="data:image/png;base64, {{ user_image }}">
        </div>
        <div>
            <span>user_name: {{ user_name }}</span>
        </div>
        <div>
            <span>user_id: {{ user_id }}</span>
        </div>
        <div>
            <span>自己紹介</span>
            <span>{{ self_introduction }}</span>
        </div>
    </div>
    <div>
        {% if is_current_user_equal_article_user == True %}
            <div>
                <form action="user_profile/edit" method="POST" enctype="multipart/form-data">
                    <button type="submit">プロフィールを編集する</button>
                </form>
            </div>
            <div>
                <form action="logout" method="POST" enctype="multipart/form-data">
                    <button type="submit">ログアウトする</button>
                </form>
            </div>
        {% endif %}
    </div>
    <div>
        {% for data in some_article_data %}
            <div style="margin-bottom: 5px;background-color:cornsilk">
                <form action="/reply_thread" method="POST">
                    <input type="hidden" name="article_id" value="{{ data.id }}">
                    <button type="submit">リプをみる</button>
                </form>
                <p>投稿内容: {{ data.post_content }}</p>
                <span>user name: {{ data.user_name }}</span><br>
                <span>user id: {{ data.user_id }}</span><br>
                <span>book title: {{ data.book_title }}</span><br>
                <span>いいね数: {{ data.good_button_sum }}</span><br>
                {% if is_current_user_equal_article_user == True %}
                    <form action="/delete_article_from_user_profile" method="POST">
                        <input type="hidden" name="article_id" value="{{ data.id }}">
                        <button type="submit">削除する</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>