<div class="flex">
  <%= render 'shared/left_column' %>
  <div class="w-6/12">
    <div class="mx-auto my-0 w-10/12">
      <%= render 'shared/passage_cards' %>
    </div>
  </div>
  <%= render 'shared/passage_form' %>
</div>