<div class="flex">
  <%= render 'shared/left_column' %>
  <div class="w-6/12">
    <div class="mx-auto my-0 w-10/12">
      <!-- Todo: いいね数を取得して入れる。いいね数テーブルとusersとpassagesをjoinしたものを回す-->
      <%= render 'shared/passage_cards' %>
    </div>
  </div>
  <%= render 'shared/passage_form' %>
</div>